<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="estilos.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="#">Inicio <i class='bx bxs-sushi'></i></a>
        </li>
        <li>
          <a href="#">Sobre Nosotros <i class='bx bxs-castle' ></i></a>
        </li>
        <li>
          <a href="#">Contacto <i class='bx bxs-universal-access' ></i></a>
        </li>
      </ul>
      <a href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnWDRBjMXYdoFgM0RstwYyLy6Kbcp9BB5kzw&s" alt="logo">
      </a>
      
    </nav>
  </header>
  <main>
    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, assumenda voluptatem. Itaque, dolorem voluptatem commodi repellendus quaerat libero blanditiis distinctio adipisci neque quam, voluptates sapiente natus alias aspernatur pariatur nobis!</p>
      <i class='bx bxs-sushi bx-lg'></i>
    </article>
    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, assumenda voluptatem. Itaque, dolorem voluptatem commodi repellendus quaerat libero blanditiis distinctio adipisci neque quam, voluptates sapiente natus alias aspernatur pariatur nobis!</p>
      <i class='bx bxs-invader bx-lg' ></i>
    </article>
    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, assumenda voluptatem. Itaque, dolorem voluptatem commodi repellendus quaerat libero blanditiis distinctio adipisci neque quam, voluptates sapiente natus alias aspernatur pariatur nobis!</p>
      <i class='bx bxl-steam bx-lg' ></i>
    </article>
  </main>
  <aside>
    <section>
      <article>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnWDRBjMXYdoFgM0RstwYyLy6Kbcp9BB5kzw&s" alt="">
      </article>
    </section>
    <section>
      <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et provident pariatur veniam, enim cupiditate rerum voluptatum maiores sapiente vero doloribus sed. Odit optio cum placeat, perspiciatis reiciendis iste ipsam rerum.</p>
      </article>
    </section>
  </aside>
</body>
</html>